/*搜索框样式*/
.el-select .el-input {
    width: 90px;
}
.input-with-select .el-input-group__prepend {
    background-color: #fff;
}
.el-input-group {
    width: 60%;
    left: 20%;
}
.el-input--small .el-input__inner {
    height: 40px;
}

#mainContent .grid-content{
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);*/
    /*border-radius: 4px;*/
    /*min-height: 330px;*/
}

#mainContent .el-row {
    /*margin-left: 50px !important;*/
    /*margin-right: -10px !important;*/
    margin-bottom: 20px;
}
/*#mainContent .el-col-4 {*/
/*    width: 20%;*/
/*}*/
#mainContent .productPic{
    max-height: 180px;
    max-width: 180px;
}
#mainContent .product{
    width: 180px;
    float: left;
    margin: 0 0 0 15px;
}
