/*搜索框样式*/
.el-select .el-input {
    width: 90px;
}
.input-with-select .el-input-group__prepend {
    background-color: #fff;
}
.el-input-group {
    width: 60%;
    left: 20%;
}
.el-input--small .el-input__inner {
    height: 40px;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

#productList .productPic {
    max-height: 180px;
    max-width: 180px;
}

#productList .product {
    width: 180px;
    float: left;
    margin: 0 0 0 15px;
}
